$susy: (
  container: 68em,
  gutters: 1/2,
);

// Breakpoints
$small: max-width em(640);
$medium: em(640);
$large: em(860);

.container {
  @include container;
}

.row {
  float: left;
  width: 100%;
}