table {
  @include font-feature-settings("kern", "liga", "tnum");
  font-family: $base-font-family;
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: 700;
  padding: $small-spacing $base-spacing;
  text-align: left;
}

td {
  padding: $small-spacing $base-spacing;
}

tr,
td,
th {
  vertical-align: middle;
}

tr:nth-child(2n+2) {
  background-color: $light-gray;
}