.site-header
  +clearfix

.site-branding
  +clearfix

.site-title
  font-size: 2em
  font-weight: bold

.headline
  float: left
  padding-top: 20px

.site-logo
  float: right
  padding-top: 27px
  img
    max-height: 50px

.main-navigation
  float: left
  width: 100%

.menu-toggle
  +breakpoint($medium)
    display: none