.jumbotron
  position: relative
  .owl-item,
  .static-item
    p
      position: absolute
      width: 100%
      text-align: center
      top: 50%
      font-size: 2em
      font-weight: bold
      color: #FFFFFF
      margin-top: -2em